@use "mixins";

///////////////////////////////////////////////////////////////////////////////
/////////// NAVBAR
///////////////////////////////////////////////////////////////////////////////

.navbar {
    position: fixed;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    width: 100%;
    height: var(--navbar-height);
    background-color: hsl(var(--color-primary-500));
    z-index: var(--navbar-z-index);
    box-shadow:
        0 4px 6px -1px hsla(var(--color-neutral-900) / 10%),
        0 2px 4px -1px hsla(var(--color-neutral-900) / 5%);

    &--hide {
        opacity: 0%;
        transform: translateY(-100%);
    }

    @include mixins.should-animate {
        @include mixins.transition(transform, opacity);
    }
}

///////////////////////////////////////////////////////////////////////////////
/////////// SIDEBAR
///////////////////////////////////////////////////////////////////////////////

.side-bar {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: hsl(var(--color-neutral-0));
    z-index: var(--sidebar-z-index);
    transform: translateX(-100%);
    will-change: transform;
    overflow-y: auto;

    &--open {
        transform: translateX(0);
    }

    &__close-btn {
        display: block;
        width: var(--button-height);
        height: var(--button-height);
        margin-inline-start: auto;
        margin-inline-end: 0.5rem;
        margin-top: 1rem;
    }

    &__nav {
        display: block;
        width: 100%;
    }

    &__list {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 1rem;
    }

    &__list-item {
        display: flex;
        align-items: center;
        font-family: var(--font-sans);
        font-size: var(--font-size-md);
        line-height: var(--line-height-normal);
        color: hsl(var(--color-text));
        padding: 0.75rem 1rem;
        border-radius: var(--border-radius-md);

        &--selected {
            font-weight: var(--font-weight-bold);
            color: hsl(var(--color-on-primary));
            background-color: hsl(var(--color-primary-300));
        }
    }

    &__link {
        display: block;
        font-size: var(--font-size-md);
        color: currentcolor;
        appearance: none;
        text-decoration: unset;
    }

    @include mixins.should-animate {
        &-animate {
            @include mixins.transition(transform);
        }
    }
}

///////////////////////////////////////////////////////////////////////////////
/////////// FOOTER
///////////////////////////////////////////////////////////////////////////////

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    color: var(--color-on-primary);
    background-color: hsl(var(--color-primary-500));
}

///////////////////////////////////////////////////////////////////////////////
/////////// ICON
///////////////////////////////////////////////////////////////////////////////

.icon {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: Material Icons;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-size: 1.5rem;
    width: 1.5em;
    height: 1.5em;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    outline: none;
    user-select: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: hsla(0 0% 0% / 0%);

    /* Support for Safari and Chrome. */
    text-rendering: optimizelegibility;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

///////////////////////////////////////////////////////////////////////////////
/////////// SEARCH OVERLAY
///////////////////////////////////////////////////////////////////////////////

.search-overlay {
    $root: &;

    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    background-color: hsla(var(--backdrop-background-color));
    pointer-events: all;
    cursor: pointer; // So it fires click events in iOS
    opacity: 0%;
    z-index: var(--search-overlay-z-index);

    &__content {
        position: relative;
        display: block;
        padding: 1rem;
        color: var(--color-text);
        background-color: hsl(var(--floating-surface-background-color));
        z-index: calc(var(--search-overlay-z-index) + 1);
        transform: translateY(-100%);
        box-shadow:
            0 20px 25px -5px hsla(var(--color-neutral-900) / 10%),
            0 10px 10px -5px hsla(var(--color-neutral-900) / 5%);

        @include mixins.should-animate {
            @include mixins.transition(transform);
        }
    }

    &__search-icon {
        position: absolute;
        top: 50%;
        left: 1.5rem;
        width: var(--button-height);
        height: var(--button-height);
        color: currentcolor;
        transform: translateY(-50%);
    }

    &__input {
        font-family: var(--font-sans);
        font-size: var(--font-size-md);
        line-height: var(--line-height-normal);
        height: var(--input-height);
        width: 100%;
        margin: 0 auto;
        padding-left: calc(var(--button-height) + 1rem);
        padding-right: calc(var(--button-height) + 1rem);
        border-radius: var(--input-height);
        color: inherit;
        background-color: hsl(var(--surface-background-color));
    }

    &__close-btn {
        position: absolute;
        top: 50%;
        right: 1rem;
        width: var(--button-height);
        height: var(--button-height);
        color: currentcolor;
        background-color: transparent;
        transform: translateY(-50%);
    }

    &--open {
        opacity: 100%;

        #{$root}__content {
            transform: translateY(0);
        }
    }

    @include mixins.should-animate {
        @include mixins.transition(opacity);
    }
}

///////////////////////////////////////////////////////////////////////////////
/////////// SPINNER
///////////////////////////////////////////////////////////////////////////////

.spinner {
    display: block;
    color: currentcolor;
    animation: linear-rotate 1000ms linear infinite;

    svg {
        width: 2rem;
        height: 2rem;
    }
}

@keyframes linear-rotate {
    100% {
        transform: rotate(360deg);
    }
}

///////////////////////////////////////////////////////////////////////////////
/////////// THUMBNAILS
///////////////////////////////////////////////////////////////////////////////

.thumbnail {
    display: block;
    width: 90%;
    aspect-ratio: 4 / 3;
    margin-inline: auto;

    img {
        width: 100%;
    }
}

///////////////////////////////////////////////////////////////////////////////
/////////// SHOW MORE
///////////////////////////////////////////////////////////////////////////////

.show-more-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-sans);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-bold);
    height: var(--button-height-lg);
    padding-inline: 1rem;
    margin-block-end: 1rem;
    margin-inline: auto;
    color: hsl(var(--color-on-primary));
    background-color: hsl(var(--color-primary-500));
    border-radius: var(--border-radius-md);
}
