@use "mixins";

///////////////////////////////////////////////////////////////////////////////
/////////// HEADER
///////////////////////////////////////////////////////////////////////////////

.header {
    position: fixed;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    width: 100%;
    height: var(--navbar-height);
    background-color: hsl(var(--color-primary-500));
    z-index: var(--navbar-z-index);
}

///////////////////////////////////////////////////////////////////////////////
/////////// SIDEBAR
///////////////////////////////////////////////////////////////////////////////

.side-bar {
    position: fixed;
    top: 0;
    inset-inline-end: 0;
    bottom: 0;
    inset-inline-start: 0;
    display: flex;
    flex-direction: column;
    background-color: hsl(var(--color-neutral-0));
    z-index: var(--sidebar-z-index);
    transform: translateX(-50%);

    @include mixins.should-animate {
        will-change: transform;
        transition-property: transform;
        transition-duration: 250ms;
        transition-timing-function: ease;
    }

    &--open {
        transform: translateX(0);
    }
}

///////////////////////////////////////////////////////////////////////////////
/////////// FOOTER
///////////////////////////////////////////////////////////////////////////////

.footer {
    display: flex;
    align-items: center;
}

///////////////////////////////////////////////////////////////////////////////
/////////// ICON
///////////////////////////////////////////////////////////////////////////////

.icon {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: Material Icons;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-size: 1.5rem;
    width: 1.5em;
    height: 1.5em;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    outline: none;
    user-select: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: hsla(0 0% 0% / 0%);

    /* Support for Safari and Chrome. */
    text-rendering: optimizelegibility;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

///////////////////////////////////////////////////////////////////////////////
/////////// SOCIAL MEDIA BUTTON
///////////////////////////////////////////////////////////////////////////////

.social-media-btn {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

///////////////////////////////////////////////////////////////////////////////
/////////// PAGE SEARCH
///////////////////////////////////////////////////////////////////////////////
