///////////////////////////////////////////////////////////////////////////////
/////////// LAYOUT
///////////////////////////////////////////////////////////////////////////////

.flex {
    display: flex;

    &-1 {
        flex: 1 1 auto;
    }

    &-col {
        flex-direction: column;
    }
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

///////////////////////////////////////////////////////////////////////////////
/////////// SPACING
///////////////////////////////////////////////////////////////////////////////

.p {
    &-2 {
        padding: 0.5rem;
    }

    &-4 {
        padding: 1rem;
    }
}

.m {
    &-2 {
        margin: 0.5rem;
    }

    &-4 {
        margin: 1rem;
    }
}

.ms {
    &-auto {
        margin-inline-start: auto;
    }

    &-2 {
        margin-inline-start: 0.5rem;
    }

    &-4 {
        margin-inline-start: 1rem;
    }
}

.mt {
    &-2 {
        margin-top: 0.5rem;
    }
}

.mb {
    &-6 {
        margin-bottom: 1.5rem;
    }
}

.my {
    &-4 {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

.space {
    &-x {
        &-2 {
            & > * + * {
                margin-inline-start: 0.5rem;
            }
        }
    }
}

///////////////////////////////////////////////////////////////////////////////
/////////// POSITIONING
///////////////////////////////////////////////////////////////////////////////

.absolute {
    &-center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

///////////////////////////////////////////////////////////////////////////////
/////////// COLORS
///////////////////////////////////////////////////////////////////////////////

.text {
    &-neutral-0 {
        color: hsl(var(--color-neutral-0));
    }
}

.bg {
    &-on-primary {
        background-color: hsl(var(--color-on-primary));
    }
}

///////////////////////////////////////////////////////////////////////////////
/////////// SIZES
///////////////////////////////////////////////////////////////////////////////

.w-full {
    width: 100%;
}

///////////////////////////////////////////////////////////////////////////////
/////////// TYPOGRAPHY
///////////////////////////////////////////////////////////////////////////////

.text {
    &-center {
        text-align: center;
    }

    &-sm {
        font-size: var(--font-size-sm);
    }

    &-on-primary {
        color: hsl(var(--color-on-primary));
    }
}

///////////////////////////////////////////////////////////////////////////////
/////////// BORDERS
///////////////////////////////////////////////////////////////////////////////

.rounded {
    border-radius: var(--border-radius-md);
}

///////////////////////////////////////////////////////////////////////////////
/////////// OTHERS
///////////////////////////////////////////////////////////////////////////////

.block-scroll {
    overflow: hidden;
}
