//////////////////////////////////////////////////////////////
/// SHARED THEME
//////////////////////////////////////////////////////////////

:root {
    /*************************************
     ********* FONT THEME
     *************************************/

    /** Fonts */
    --font-sans: "Roboto", -apple-system, blinkmacsystemfont, "Segoe UI", roboto, helvetica, arial, sans-serif;
    --font-serif: georgia, "Times New Roman", serif;
    --font-mono: sfmono-regular, consolas, "Liberation Mono", menlo, monospace;

    /** Font sizes */
    --font-size-3xs: 0.5625rem; /* 9px */
    --font-size-2xs: 0.6875rem; /* 11px */
    --font-size-xs: 0.75rem; /* 12px */
    --font-size-sm: 0.875rem; /* 14px */
    --font-size-md: 1rem; /* 16px */
    --font-size-lg: 1.125rem; /* 18px */
    --font-size-xl: 1.5rem; /* 24px */
    --font-size-2xl: 1.875rem; /* 30px */
    --font-size-3xl: 2.5rem; /* 40px */

    /** Font weights */
    --font-weight-thin: 100;
    --font-weight-light: 200;
    --font-weight-regular: 400;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /** Letter spacings */
    --letter-spacing-denser: -0.03em;
    --letter-spacing-dense: -0.015em;
    --letter-spacing-normal: 0.0125em; /* 0.2px */
    --letter-spacing-loose: 0.075em;
    --letter-spacing-looser: 0.15em;

    /** Line heights */
    --line-height-denser: 1;
    --line-height-dense: 1.4;
    --line-height-normal: 1.8;
    --line-height-loose: 2.2;
    --line-height-looser: 2.6;

    /*************************************
     ********* COMPONENT THEME
     *************************************/

    /** Border radius */
    --border-radius-sm: 0.125rem; /* 2px */
    --border-radius-md: 0.25rem; /* 4px */
    --border-radius-lg: 0.5rem; /* 8px */
    --border-radius-xl: 1rem; /* 16px */

    /** Opacities */
    --opacity-disabled: 0.4;

    /** Safe area */
    --sat: env(safe-area-inset-top);
    --sar: env(safe-area-inset-right);
    --sab: env(safe-area-inset-bottom);
    --sal: env(safe-area-inset-left);
}

//////////////////////////////////////////////////////////////
/// LIGHT THEME
//////////////////////////////////////////////////////////////

:root {
    /*************************************
     ********* COLOR THEME
     *************************************/

    /** Primary */
    --color-primary-50: 0 100% 97%;
    --color-primary-100: 0 100% 87%;
    --color-primary-200: 0 100% 77%;
    --color-primary-300: 0 100% 67%;
    --color-primary-400: 0 100% 57%;
    --color-primary-500: 0 100% 38%;
    --color-primary-600: 0 100% 42%;
    --color-primary-700: 0 100% 36%;
    --color-primary-800: 0 100% 27%;
    --color-primary-900: 0 100% 17%;
    --color-primary-950: 0 100% 7%;

    /** On Primary */
    --color-on-primary: 0 0% 100%;

    /** Neutral */
    --color-neutral-50: 0 0% 97%;
    --color-neutral-100: 0 0% 96%;
    --color-neutral-200: 0 0% 90%;
    --color-neutral-300: 0 0% 84%;
    --color-neutral-400: 0 0% 65%;
    --color-neutral-500: 0 0% 47%;
    --color-neutral-600: 0 0% 31%;
    --color-neutral-700: 0 0% 25%;
    --color-neutral-800: 0 0% 16%;
    --color-neutral-900: 0 0% 11%;
    --color-neutral-950: 0 0% 7%;

    /** Neutral one-offs */
    --color-neutral-0: 0 0% 100%;
    --color-neutral-1000: 0 0% 0%;

    /** Success */
    --color-success-50: 156 100% 95%;
    --color-success-100: 156 100% 89%;
    --color-success-200: 156 95% 82%;
    --color-success-300: 156 85% 69%;
    --color-success-400: 156 75% 55%;
    --color-success-500: 156 55% 41%;
    --color-success-600: 156 55% 35%;
    --color-success-700: 156 55% 29%;
    --color-success-800: 156 45% 23%;
    --color-success-900: 156 45% 17%;
    --color-success-950: 156 40% 12%;

    /** Warning */
    --color-warning-50: 60 100% 94.6%;
    --color-warning-100: 51.8 100% 85%;
    --color-warning-200: 49.3 100% 73%;
    --color-warning-300: 46.5 100% 61.1%;
    --color-warning-400: 43.3 100% 53.4%;
    --color-warning-500: 37 96.6% 48.3%;
    --color-warning-600: 31.4 87.4% 46.7%;
    --color-warning-700: 25.4 84.2% 39.6%;
    --color-warning-800: 22.3 77.6% 33.3%;
    --color-warning-900: 21.5 73.6% 29.7%;
    --color-warning-950: 21.9 66.3% 21.1%;

    /** Danger */
    --color-danger-50: 4 100% 95%;
    --color-danger-100: 4 95% 90%;
    --color-danger-200: 4 80% 85%;
    --color-danger-300: 4 70% 72%;
    --color-danger-400: 4 60% 67%;
    --color-danger-500: 4 56% 55%;
    --color-danger-600: 4 56% 48%;
    --color-danger-700: 4 56% 39%;
    --color-danger-800: 4 52% 33%;
    --color-danger-900: 4 48% 29%;
    --color-danger-950: 4 46% 23%;

    /*************************************
     ********* COMPONENT THEME
     *************************************/

    /** Text colors */
    --color-text: var(--color-neutral-800);
    --color-secondary-text: var(--color-neutral-600);
    --color-title: var(--color-neutral-800);
    --color-placeholder: var(--color-neutral-800) / 40%;

    /** Background colors */
    --background-color: var(--color-neutral-0);
    --surface-background-color: var(--color-neutral-100);
    --floating-surface-background-color: var(--color-neutral-0);

    /** Backdrop */
    --backdrop-background-color: var(--color-neutral-1000) / 35%;

    /** Dividers, borders */
    --border-color: var(--color-neutral-300);
}

//////////////////////////////////////////////////////////////
/// DARK THEME
//////////////////////////////////////////////////////////////

:root[data-theme="dark"] {
    /*************************************
     ********* COLOR THEME
     *************************************/

    /** Primary */
    --color-primary-50: 0 100% 7%;
    --color-primary-100: 0 100% 17%;
    --color-primary-200: 0 100% 27%;
    --color-primary-300: 0 100% 36%;
    --color-primary-400: 0 100% 38%;
    --color-primary-500: 0 100% 42%;
    --color-primary-600: 0 100% 57%;
    --color-primary-700: 0 100% 67%;
    --color-primary-800: 0 100% 77%;
    --color-primary-900: 0 100% 87%;
    --color-primary-950: 0 100% 97%;

    /** On Primary */
    --color-on-primary: 0 0% 100%;

    /** Neutral */
    --color-neutral-50: 0 0% 7%;
    --color-neutral-100: 0 0% 11%;
    --color-neutral-200: 0 0% 16%;
    --color-neutral-300: 0 0% 25%;
    --color-neutral-400: 0 0% 31%;
    --color-neutral-500: 0 0% 47%;
    --color-neutral-600: 0 0% 65%;
    --color-neutral-700: 0 0% 84%;
    --color-neutral-800: 0 0% 90%;
    --color-neutral-900: 0 0% 96%;
    --color-neutral-950: 0 0% 97%;

    /** Neutral one-offs */
    --color-neutral-0: 0 0% 0%;
    --color-neutral-1000: 0 0% 100%;

    /** Success */
    --color-success-50: 156 40% 12%;
    --color-success-100: 156 45% 17%;
    --color-success-200: 156 45% 23%;
    --color-success-300: 156 55% 29%;
    --color-success-400: 156 55% 35%;
    --color-success-500: 156 55% 41%;
    --color-success-600: 156 75% 55%;
    --color-success-700: 156 85% 69%;
    --color-success-800: 156 95% 82%;
    --color-success-900: 156 100% 89%;
    --color-success-950: 156 100% 95%;

    /** Warning */
    --color-warning-50: 21.9 66.3% 21.1%;
    --color-warning-100: 21.5 73.6% 29.7%;
    --color-warning-200: 22.3 77.6% 33.3%;
    --color-warning-300: 25.4 84.2% 39.6%;
    --color-warning-400: 31.4 87.4% 46.7%;
    --color-warning-500: 37 96.6% 48.3%;
    --color-warning-600: 43.3 100% 53.4%;
    --color-warning-700: 46.5 100% 61.1%;
    --color-warning-800: 49.3 100% 73%;
    --color-warning-900: 51.8 100% 85%;
    --color-warning-950: 60 100% 94.6%;

    /** Danger */
    --color-danger-950: 4 46% 23%;
    --color-danger-900: 4 48% 29%;
    --color-danger-800: 4 52% 33%;
    --color-danger-700: 4 56% 39%;
    --color-danger-600: 4 56% 48%;
    --color-danger-500: 4 56% 55%;
    --color-danger-400: 4 60% 67%;
    --color-danger-300: 4 70% 72%;
    --color-danger-200: 4 80% 85%;
    --color-danger-100: 4 95% 90%;
    --color-danger-50: 4 100% 95%;

    /*************************************
     ********* COMPONENT THEME
     *************************************/

    /** Text colors */
    --color-text: var(--color-neutral-900);
    --color-secondary-text: var(--color-neutral-800);
    --color-title: var(--color-neutral-1000);
    --color-placeholder: var(--color-neutral-400);

    /** Background colors */
    --background-color: var(--color-neutral-100);
    --surface-background-color: var(--color-neutral-200);
    --floating-surface-background-color: var(--color-neutral-100);

    /** Backdrop */
    --backdrop-background-color: var(--color-neutral-0) / 35%;

    /** Dividers, borders */
    --border-color: var(--color-neutral-500);
}

//////////////////////////////////////////////////////////////
/// APPLICATION THEME
//////////////////////////////////////////////////////////////

:root {
    /** Sizes */
    --navbar-height: 3.75rem;
    --button-height: 2.5rem;
    --input-height: 2.5rem;

    /** Z-Indexes */
    --search-overlay-z-index: 10;
    --sidebar-z-index: 9;
    --navbar-z-index: 6;
}
