<footer class="footer">
    <img
        src="/assets/img/GCNLogoTxt.svg"
        alt="Global Cycling Network"
        width="100"
        class="mt-2 mb-6"
    />

    <ul class="flex space-x-2 mb-6">
        <li class="flex items-center justify-center p-2 bg-on-primary rounded">
            <a target="_blank" href="https://facebook.com/globalcyclingnetwork">
                <img src="/assets/img/IconCrc_Facebook.png" alt="GCN Facebook" width="25" height="25">
            </a>
        </li>
        <li class="flex items-center justify-center p-2 bg-on-primary rounded">
            <a target="_blank" href="https://twitter.com/gcntweet">
                <img src="/assets/img/IconCrc_Twitter.png" alt="GCN Twitter" width="25" height="25">
            </a>
        </li>
        <li class="flex items-center justify-center p-2 bg-on-primary rounded">
            <a target="_blank" href="https://instagram.com/globalcyclingnetwork/?hl=en">
                <img src="/assets/img/IconCrc_Instagram.png" alt="GCN Instagram" width="25" height="25">
            </a>
        </li>
        <li class="flex items-center justify-center p-2 bg-on-primary rounded">
            <a target="_blank" href="https://www.youtube.com/subscription_center?add_user=globalcyclingnetwork">
                <img src="/assets/img/YouTubeLogo.png" alt="GCN Youtube" width="50" height="25">
            </a>
        </li>
    </ul>

    <p class="text-center text-sm">
        <a class="text-on-primary" target="_blank" href="http://www.playsportsnetwork.com/">
            © 2022 Play Sports Network
        </a>
    </p>
</footer>
