<header id="navbar" class="navbar">
    <button
        id="side-bar-toggle"
        aria-label="Open menu"
        aria-controls="side-bar"
        aria-expanded="false"
    >
        <span class="icon text-neutral-0">menu</span>
    </button>

    <img
        src="/assets/img/GCNLogoTxt.svg"
        width="80"
        height="20"
        alt="Global Cycling Network"
        class="absolute-center"
    />

    <button
        id="search-toggle"
        class="ms-auto"
        aria-label="Search in web"
        aria-controls="search-overlay"
        aria-expanded="false"
    >
        <span class="icon text-neutral-0">search</span>
    </button>
</header>
