<aside id="side-bar" class="side-bar">
    <button
        id="side-bar-close-btn"
        class="side-bar__close-btn"
        aria-label="Close menu"
    >
        <span class="icon">close</span>
    </button>

    <img
        src="/assets/img/GCNLogo.svg"
        alt="Global Cycling Network"
        width="270"
        height="77"
        class="ms-4 my-4"
    />

    <nav class="side-bar__nav">
        <ul class="side-bar__list">
            <li class="side-bar__list-item side-bar__list-item--selected">
                <a class="side-bar__link" href="/home">Home</a>
            </li>
            <li class="side-bar__list-item">
                <a class="side-bar__link" href="/home">GCN Show</a>
            </li>
            <li class="side-bar__list-item">
                <a class="side-bar__link" href="/home">How To</a>
            </li>
            <li class="side-bar__list-item">
                <a class="side-bar__link" href="/home">Maintenance</a>
            </li>
            <li class="side-bar__list-item">
                <a class="side-bar__link" href="/home">Ask GCN</a>
            </li>
            <li class="side-bar__list-item">
                <a class="side-bar__link" href="/home">Training</a>
            </li>
            <li class="side-bar__list-item">
                <a class="side-bar__link" href="/home">Fatures</a>
            </li>
            <li class="side-bar__list-item">
                <a class="side-bar__link" href="/home">Top 10s</a>
            </li>
            <li class="side-bar__list-item">
                <a class="side-bar__link" href="/home">GCN Raicing</a>
            </li>
            <li class="side-bar__list-item">
                <a class="side-bar__link" href="/home">GCN Tech</a>
            </li>
            <li class="side-bar__list-item">
                <a class="side-bar__link" href="/home">Presenters</a>
            </li>
            <li class="side-bar__list-item">
                <a class="side-bar__link" href="/home">Conor Dunne</a>
            </li>
            <li class="side-bar__list-item">
                <a class="side-bar__link" href="/home">Daniel Lloyd</a>
            </li>
            <li class="side-bar__list-item">
                <a class="side-bar__link" href="/home">James Lowsley-Williams</a>
            </li>
            <li class="side-bar__list-item">
                <a class="side-bar__link" href="/home">Jon Cannings</a>
            </li>
            <li class="side-bar__list-item">
                <a class="side-bar__link" href="/home">Manon Lloyd</a>
            </li>
            <li class="side-bar__list-item">
                <a class="side-bar__link" href="/home">Oliver Bridgewood</a>
            </li>
            <li class="side-bar__list-item">
                <a class="side-bar__link" href="/home">Simon Richardson</a>
            </li>
            <li class="side-bar__list-item">
                <a class="side-bar__link" href="/home">Tom Last</a>
            </li>
        </ul>
    </nav>
</aside>
