///////////////////////////////////////////////////////////////////////////////
/////////// HEADER
///////////////////////////////////////////////////////////////////////////////

.header {
    display: flex;
    padding: 0.5rem;
}

///////////////////////////////////////////////////////////////////////////////
/////////// SIDEBAR
///////////////////////////////////////////////////////////////////////////////

///////////////////////////////////////////////////////////////////////////////
/////////// FOOTER
///////////////////////////////////////////////////////////////////////////////

///////////////////////////////////////////////////////////////////////////////
/////////// ICON
///////////////////////////////////////////////////////////////////////////////

.icon {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: Material Icons;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-size: 1em;
    color: currentcolor;
    width: 1.5em;
    height: 1.5em;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    outline: none;
    user-select: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: hsla(0 0% 0% / 0%);

    /* Support for Safari and Chrome. */
    text-rendering: optimizelegibility;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

///////////////////////////////////////////////////////////////////////////////
/////////// SOCIAL MEDIA BUTTON
///////////////////////////////////////////////////////////////////////////////

///////////////////////////////////////////////////////////////////////////////
/////////// PAGE SEARCH
///////////////////////////////////////////////////////////////////////////////
